In [126]:
# get api key from your .env file
import os
from dotenv import load_dotenv
import requests
import pandas as pd
import json

In [127]:
load_dotenv()
API_KEY = os.getenv('NASDAQ_API_KEY')
api_string = '&api_key=' + API_KEY

BfxQkwgJj7g7RUuVbRZ-

In [128]:
def gen_dt(d1,d2):
    return '&start_date=' + d1 + '&end_date=' + d2


print(url)
response = requests.get(url)
print(response)

https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-01-01&api_key=BfxQkwgJj7g7RUuVbRZ-
<Response [200]>

In [129]:
print(type(json.loads(response.text)))

<class 'dict'>

In [130]:
print(json.loads(response.text))

{'dataset': {'id': 10095370, 'dataset_code': 'AFX_X', 'database_code': 'FSE', 'name': 'Carl Zeiss Meditec (AFX_X)', 'description': 'Stock Prices for Carl Zeiss Meditec (2020-11-02) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704', 'refreshed_at': '2020-12-01T14:48:09.907Z', 'newest_available_date': '2020-12-01', 'oldest_available_date': '2000-06-07', 'column_names': ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover'], 'frequency': 'daily', 'type': 'Time Series', 'premium': False, 'limit': None, 'transform': None, 'column_index': None, 'start_date': '2017-01-01', 'end_date': '2017-01-01', 'data': [], 'collapse': None, 'order': None, 'database_id': 6129}}

In [138]:
def use_quandl(start, end):
    
    begin = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?'
    url = begin + (gen_dt(start,end)) + api_string

    dic = json.loads(requests.get(url).text)['dataset']
    df = pd.DataFrame(dic['data'])
    df.columns = dic['column_names']
    return df

df = use_quandl('2017-01-01', '2017-12-31')
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [143]:
hi = df['Open'].max()
lo = df['Open'].min()
print('Highest Opening: $' + str(hi))
print('Lowest Opening: $' + str(lo))

Highest Opening: $53.11
Lowest Opening: $34.0

In [153]:
df.drop(columns=['Change'])
df['Change'] = df['High'] - df['Low']
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,0.49,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,0.39,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,1.13,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,0.58,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,0.62,120649.0,6179433.0,None,None,None

In [157]:
df.iloc[df['Change'].idxmax()]

Date                     2017-05-11
Open                           43.4
High                          46.06
Low                           43.25
Close                          45.0
Change                         2.81
Traded Volume              189125.0
Turnover                  8496322.0
Last Price of the Day          None
Daily Traded Units             None
Daily Turnover                 None
Name: 161, dtype: object

In [182]:
df['two_day_close_diff'] = df.Close - df.Close.shift(2)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,two_day_close_diff
0,2017-12-29,51.76,51.94,51.45,51.76,0.49,34640.0,1792304.0,None,None,None,NaN
1,2017-12-28,51.65,51.82,51.43,51.60,0.39,40660.0,2099024.0,None,None,None,NaN
2,2017-12-27,51.45,51.89,50.76,51.82,1.13,57452.0,2957018.0,None,None,None,0.06
3,2017-12-22,51.05,51.50,50.92,51.32,0.58,71165.0,3641949.0,None,None,None,-0.28
4,2017-12-21,51.16,51.52,50.90,51.40,0.62,120649.0,6179433.0,None,None,None,-0.42

In [177]:
print('Largest Two Day Change Based on Closing Price: ' + str(df['two_day_close_diff'].abs().max()))
print('Occured on ' + df.loc[df['two_day_close_diff'].abs().idxmax()]['Date'])
df.loc[df['two_day_close_diff'].abs().idxmax()]

Largest Two Day Change Based on Closing Price: 3.1499999999999986
Occured on 2017-08-07

Date                     2017-08-07
Open                          45.85
High                          46.34
Low                           44.02
Close                         44.96
Change                         2.32
Traded Volume              164543.0
Turnover                  7378816.0
Last Price of the Day          None
Daily Traded Units             None
Daily Turnover                 None
two_day_close_diff             3.15
Name: 100, dtype: object

In [181]:
mean = df['Traded Volume'].mean()
print('Mean Trade Volume: ' + str(mean))

Mean Trade Volume: 89124.33725490196

In [179]:
med = df['Traded Volume'].median()
print('Median Trade Volume: ' + str(med))

Median Trade Volume: 76286.0