In [1]:
import pandas as pd
df= pd.read_csv('merged_vins.csv')

In [3]:
df2 = df[['Make','Model','ModelYear']].drop_duplicates()

In [4]:
df2.head()

        Make      Model  ModelYear
0        GMC     Sierra     2014.0
1  CHEVROLET  Silverado     2010.0
2  CHEVROLET  Silverado     2020.0
3     TOYOTA     Tundra     2017.0
4        GMC     Sierra     2012.0

In [8]:
top_makes = df2.Make.value_counts().to_dict()
top_makes

{'FORD': 496,
 'CHEVROLET': 487,
 'TOYOTA': 458,
 'BMW': 438,
 'NISSAN': 312,
 'MERCEDES-BENZ': 270,
 'AUDI': 216,
 'HONDA': 208,
 'DODGE': 189,
 'LEXUS': 187,
 'VOLKSWAGEN': 186,
 'GMC': 182,
 'HYUNDAI': 176,
 'KIA': 153,
 'MAZDA': 151,
 'CADILLAC': 146,
 'JEEP': 145,
 'VOLVO': 143,
 'BUICK': 124,
 'SUBARU': 122,
 'INFINITI': 121,
 'LINCOLN': 119,
 'MITSUBISHI': 111,
 'ACURA': 110,
 'CHRYSLER': 107,
 'PORSCHE': 90,
 'PONTIAC': 88,
 'LAND ROVER': 85,
 'JAGUAR': 81,
 'MINI': 64,
 'MERCURY': 59,
 'RAM': 58,
 'SATURN': 47,
 'SUZUKI': 32,
 'SAAB': 30,
 'OLDSMOBILE': 28,
 'MASERATI': 28,
 'FIAT': 18,
 'HUMMER': 17,
 'TESLA': 17,
 'FREIGHTLINER': 17,
 'PETERBILT': 15,
 'ISUZU': 13,
 'BENTLEY': 12,
 'ALFA ROMEO': 11,
 'SMART': 10,
 'KENWORTH': 9,
 'INTERNATIONAL': 8,
 'VOLVO TRUCK': 8,
 'GENESIS': 8,
 'PLYMOUTH': 6,
 'LOTUS': 5,
 'MACK': 5,
 'ASTON MARTIN': 5,
 'ROLLS-ROYCE': 4,
 'STERLING TRUCK': 3,
 'WESTERN STAR': 3,
 'PIERCE MANUFACTURING': 3,
 'E-ONE': 2,
 'AM GENERAL': 2,
 'THE VEHICLE PRODUCTION GROUP': 2,
 'LAMBORGHINI': 2,
 'FISKER': 1,
 'KARMA': 1,
 'WORKHORSE': 1,
 'AVANTI': 1,
 'FERRARI': 1,
 'AMERICAN MOTORS': 1,
 'CATERPILLAR': 1,
 'MCLAREN': 1,
 'GEO': 1,
 'EAGLE': 1}

In [14]:
df.VIN[df.Make == 'LAMBORGHINI']

30266    ZHWUC1ZF6FLA03167
78340    ZHWGU54T39LA08037
Name: VIN, dtype: object

In [10]:
df.columns.to_list()

['ABS',
 'ActiveSafetySysNote',
 'AdaptiveCruiseControl',
 'AdaptiveDrivingBeam',
 'AirBagLocCurtain',
 'AirBagLocFront',
 'AirBagLocKnee',
 'AirBagLocSeatCushion',
 'AirBagLocSide',
 'AutoReverseSystem',
 'Axles',
 'BasePrice',
 'BedType',
 'BlindSpotMon',
 'BodyCabType',
 'BodyClass',
 'BrakeSystemType',
 'BusFloorConfigType',
 'BusType',
 'CAN_AACN',
 'CIB',
 'CoolingType',
 'CustomMotorcycleType',
 'DaytimeRunningLight',
 'DestinationMarket',
 'DisplacementCC',
 'DisplacementCI',
 'DisplacementL',
 'Doors',
 'DriveType',
 'DynamicBrakeSupport',
 'ESC',
 'ElectrificationLevel',
 'EngineConfiguration',
 'EngineCycles',
 'EngineCylinders',
 'EngineHP',
 'EngineHP_to',
 'EngineManufacturer',
 'EngineModel',
 'ErrorCode',
 'ErrorText',
 'ForwardCollisionWarning',
 'FuelInjectionType',
 'FuelTypePrimary',
 'FuelTypeSecondary',
 'GVWR',
 'GVWR_to',
 'KeylessIgnition',
 'LaneDepartureWarning',
 'LaneKeepSystem',
 'LowerBeamHeadlampLightSource',
 'Make',
 'MakeID',
 'Manufacturer',
 'ManufacturerId',
 'Model',
 'ModelID',
 'ModelYear',
 'MotorcycleChassisType',
 'MotorcycleSuspensionType',
 'Note',
 'OtherEngineInfo',
 'OtherRestraintSystemInfo',
 'ParkAssist',
 'PedestrianAutomaticEmergencyBraking',
 'PlantCity',
 'PlantCompanyName',
 'PlantCountry',
 'PlantState',
 'Pretensioner',
 'RearCrossTrafficAlert',
 'RearVisibilitySystem',
 'SeatBeltsAll',
 'SeatRows',
 'Seats',
 'SemiautomaticHeadlampBeamSwitching',
 'Series',
 'Series2',
 'SteeringLocation',
 'TPMS',
 'TopSpeedMPH',
 'TractionControl',
 'TrailerBodyType',
 'TrailerType',
 'TransmissionSpeeds',
 'TransmissionStyle',
 'Trim',
 'Trim2',
 'Turbo',
 'VIN',
 'ValveTrainDesign',
 'VehicleDescriptor',
 'VehicleType',
 'WheelBaseShort',
 'WheelBaseType',
 'WheelSizeFront',
 'WheelSizeRear',
 'Wheels',
 'Windows',
 'id',
 'url',
 'region',
 'region_url',
 'price',
 'year',
 'manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'odometer',
 'title_status',
 'transmission',
 'drive',
 'size',
 'type',
 'paint_color',
 'image_url',
 'description',
 'county',
 'state',
 'lat',
 'long',
 'posting_date']

In [26]:
df.ModelYear[df.Make == 'AVANTI']

72853    1983.0
Name: ModelYear, dtype: float64

In [19]:
makesdrop = []
for k,v in top_makes.items():
    if v < 10: 
        makesdrop.append(k)
makesdrop.extend(['FREIGHTLINER', 'INTERNATIONAL'])
makesdrop

['KENWORTH',
 'INTERNATIONAL',
 'VOLVO TRUCK',
 'GENESIS',
 'PLYMOUTH',
 'LOTUS',
 'MACK',
 'ASTON MARTIN',
 'ROLLS-ROYCE',
 'STERLING TRUCK',
 'WESTERN STAR',
 'PIERCE MANUFACTURING',
 'E-ONE',
 'AM GENERAL',
 'THE VEHICLE PRODUCTION GROUP',
 'LAMBORGHINI',
 'FISKER',
 'KARMA',
 'WORKHORSE',
 'AVANTI',
 'FERRARI',
 'AMERICAN MOTORS',
 'CATERPILLAR',
 'MCLAREN',
 'GEO',
 'EAGLE',
 'FREIGHTLINER',
 'INTERNATIONAL']

In [36]:
keeplis = ['MCLAREN', 'GENESIS', 'PLYMOUTH','ROLLS-ROYCE','LOTUS','ASTON MARTIN','AVANTI']
finallis = [i for i in makesdrop if i not in keeplis]
finallis

['KENWORTH',
 'INTERNATIONAL',
 'VOLVO TRUCK',
 'MACK',
 'STERLING TRUCK',
 'WESTERN STAR',
 'PIERCE MANUFACTURING',
 'E-ONE',
 'AM GENERAL',
 'THE VEHICLE PRODUCTION GROUP',
 'LAMBORGHINI',
 'FISKER',
 'KARMA',
 'WORKHORSE',
 'FERRARI',
 'AMERICAN MOTORS',
 'CATERPILLAR',
 'GEO',
 'EAGLE',
 'FREIGHTLINER',
 'INTERNATIONAL']

In [39]:
df.Model[df.VehicleType == 'TRUCK'].value_counts().to_dict()

{'F-150': 3784,
 'Silverado': 3451,
 'Sierra': 1636,
 '1500': 1628,
 'F-250': 1312,
 'Tacoma': 1072,
 'Ram': 994,
 'F-350': 902,
 'Tundra': 780,
 '2500': 611,
 'Colorado': 345,
 'Ranger': 340,
 'Transit': 334,
 'Frontier': 332,
 'Titan': 297,
 'Express': 272,
 '3500': 261,
 'Transit Connect': 235,
 'Dakota': 131,
 'E-250': 113,
 'Ridgeline': 107,
 'Canyon': 90,
 'E-150': 82,
 'Savana': 82,
 'Gladiator': 71,
 'ProMaster 1500': 63,
 'F-450': 60,
 'GMT-400': 59,
 'Silverado HD': 59,
 'Sierra HD': 57,
 'E-350': 57,
 'ProMaster 2500': 43,
 'S-10 Pickup': 43,
 'Sprinter': 41,
 'NV200': 39,
 'NV': 35,
 'City Express': 25,
 'Silverado LD': 21,
 'B-Series': 19,
 'Sonoma': 18,
 'C/K Pickup': 16,
 'ProMaster 3500': 11,
 'Pick-Up': 11,
 'VNL': 10,
 'Cascadia': 10,
 'El Camino': 8,
 'T680': 8,
 'Mark LT': 7,
 'LF687': 5,
 '379': 5,
 'SSR': 5,
 'Ram Van': 5,
 'Pickup': 5,
 'Sierra Limited': 5,
 '389': 4,
 'D-Series': 4,
 'Raider': 4,
 '4900': 3,
 'Tilt Cab': 3,
 'CST120': 3,
 'P - Series': 3,
 'Astro Van': 3,
 'Safari': 2,
 'V Conventional': 2,
 'Truck': 2,
 'Comanche': 2,
 'F-150 Heritage': 2,
 'CH': 2,
 'T100': 2,
 'CXU (Pinnacle)': 2,
 'Caballero': 2,
 'R Conventional': 2,
 'HHR': 2,
 'T6 Series': 2,
 '385': 1,
 '4500 Job Rated': 1,
 'P42': 1,
 'W900': 1,
 'T2000': 1,
 'T8 Series': 1,
 '579': 1,
 '387': 1,
 'Equator': 1,
 'Military Truck': 1,
 'G-Series': 1,
 'S15 Pickup': 1,
 '567': 1,
 'H3T': 1,
 'LF617': 1,
 'USF-1E': 1,
 'Blazer': 1,
 '388': 1,
 'CXN (Vision)': 1,
 'H3': 1,
 'RF027': 1,
 'T6F': 1,
 'T800': 1,
 'A9500 series': 1,
 '4900E': 1,
 '386': 1,
 'CF7AA': 1,
 'W-Series': 1,
 'LF697': 1,
 'SC8000': 1,
 'Vandura': 1,
 'Trooper': 1,
 'VNM': 1}

In [38]:
df3 = df2[~df2.Make.isin(finallis)]

In [44]:
df4 = df3.groupby(['Make','Model','ModelYear']).size().reset_index().rename(columns={0:'count2'})

In [45]:
df4.count2.value_counts()

count2
1    6190
Name: count, dtype: int64

In [46]:
df3.head()

        Make      Model  ModelYear
0        GMC     Sierra     2014.0
1  CHEVROLET  Silverado     2010.0
2  CHEVROLET  Silverado     2020.0
3     TOYOTA     Tundra     2017.0
4        GMC     Sierra     2012.0

In [47]:
df3.to_csv('uniq3.csv', index=False)