In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/vehicles.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
df_spec = pd.read_csv('data/CarSpecs_1945_2020.csv')
df_spec.head()

C:\Users\mitch\AppData\Local\Temp\ipykernel_11016\2501215559.py:1: DtypeWarning: Columns (9,11,12,13,14,15,16,17,19,20,24,27,29,33,43,44,47,49,51,69,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df_spec = pd.read_csv('data/CarSpecs_1945_2020.csv')

,id_trim,Make,Modle,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,1,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.6 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.9 AT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 AT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 MT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_spec.columns

Index(['id_trim', 'Make', 'Modle', 'Generation', 'Year_from', 'Year_to',
       'Series', 'Trim', 'Body_type', 'load_height_mm', 'number_of_seats',
       'length_mm', 'width_mm', 'height_mm', 'wheelbase_mm', 'front_track_mm',
       'rear_track_mm', 'curb_weight_kg', 'wheel_size_r14',
       'ground_clearance_mm', 'trailer_load_with_brakes_kg', 'payload_kg',
       'back_track_width_mm', 'front_track_width_mm', 'clearance_mm',
       'full_weight_kg', 'front_rear_axle_load_kg', 'max_trunk_capacity_l',
       'cargo_compartment_length_width_height_mm', 'cargo_volume_m3',
       'minimum_trunk_capacity_l', 'maximum_torque_n_m', 'injection_type',
       'overhead_camshaft', 'cylinder_layout', 'number_of_cylinders',
       'compression_ratio', 'engine_type', 'valves_per_cylinder', 'boost_type',
       'cylinder_bore_mm', 'stroke_cycle_mm', 'engine_placement',
       'cylinder_bore_and_stroke_cycle_mm', 'turnover_of_maximum_torque_rpm',
       'max_power_kw', 'presence_of_intercooler', 'capacity_cm3', 'engine_hp',
       'engine_hp_rpm', 'drive_wheels', 'bore_stroke_ratio', 'number_of_gears',
       'turning_circle_m', 'transmission',
       'mixed_fuel_consumption_per_100_km_l', 'range_km', 'emission_standards',
       'fuel_tank_capacity_l', 'acceleration_0_100_km/h_s',
       'max_speed_km_per_h', 'city_fuel_per_100km_l', 'CO2_emissions_g/km',
       'fuel_grade', 'highway_fuel_per_100km_l', 'back_suspension',
       'rear_brakes', 'front_brakes', 'front_suspension', 'steering_type',
       'car_class', 'country_of_origin', 'number_of_doors',
       'safety_assessment', 'rating_name', 'battery_capacity_KW_per_h',
       'electric_range_km', 'charging_time_h'],
      dtype='object')

In [6]:
print(df_spec.shape)
df_spec = df_spec[df_spec.Year_to < 1970]
print(df_spec.shape)

(70823, 78)
(4877, 78)

In [7]:
car_class = df_spec['car_class'].notna().sum()
not_car_class =df_spec['car_class'].isnull().sum()

print('Null Car Class Value Count: ' + str(not_car_class))
print('Car Class Value Count: ' + str(car_class))

Null Car Class Value Count: 4712
Car Class Value Count: 165

In [8]:
df_spec['Body_type'].value_counts()

Body_type
Coupe        1045
Sedan         773
Wagon         727
Cabriolet     699
hardtop       457
Pickup        371
Roadster       86
Crossover      71
Minivan        21
Liftback       17
Targa          14
Hatchback       8
Fastback        1
Name: count, dtype: int64

In [9]:
car_class = df_spec['Body_type'].notna().sum()
not_car_class =df_spec['Body_type'].isnull().sum()

print('Null Body_type Value Count: ' + str(not_car_class))
print('Body_type Value Count: ' + str(car_class))

Null Body_type Value Count: 587
Body_type Value Count: 4290

In [10]:
makes = df_spec.groupby('Make')

for name, group in makes:
    print(name +  ' has ' + str(group.size) + ' rows')

Adler has 234 rows
Alfa Romeo has 1716 rows
Audi has 78 rows
Austin has 312 rows
Austin Healey has 156 rows
BMW has 390 rows
Bentley has 1170 rows
Borgward has 78 rows
Bugatti has 78 rows
Buick has 1638 rows
Cadillac has 1560 rows
Chevrolet has 307164 rows
Chrysler has 2184 rows
Citroen has 858 rows
Cord has 156 rows
DKW has 78 rows
Daihatsu has 78 rows
Daimler has 156 rows
DeSoto has 1404 rows
Delage has 1326 rows
Dodge has 8814 rows
Ferrari has 156 rows
Fiat has 78 rows
Ford has 2184 rows
GAZ has 1638 rows
GMC has 78 rows
Hanomag has 312 rows
Heinkel has 78 rows
Hispano-Suiza has 78 rows
Honda has 156 rows
Horch has 312 rows
Hudson has 78 rows
Jaguar has 2418 rows
Lamborghini has 234 rows
Lancia has 702 rows
Land Rover has 156 rows
Lincoln has 1014 rows
Lotus has 156 rows
MG has 546 rows
Mazda has 78 rows
Mercedes-Benz has 2262 rows
Mercury has 1248 rows
Mitsubishi has 390 rows
Moskvich has 1092 rows
Nash has 78 rows
Nissan has 6552 rows
Oldsmobile has 1014 rows
Opel has 1950 rows
Packard has 468 rows
Peugeot has 156 rows
Pontiac has 8970 rows
Porsche has 2340 rows
Renault has 780 rows
Rolls-Royce has 312 rows
Rover has 936 rows
Saab has 78 rows
Sears has 78 rows
Simca has 234 rows
Skoda has 390 rows
Steyr has 78 rows
Studebaker has 234 rows
Subaru has 156 rows
Tatra has 546 rows
Toyota has 3588 rows
Triumph has 156 rows
UAZ has 312 rows
Vauxhall has 858 rows
Volkswagen has 4134 rows
Volvo has 78 rows
Wanderer has 234 rows
Willys has 312 rows
ZIL has 78 rows
ZiS has 234 rows

In [11]:

groupsize = 0
groupnum = 0

groupdict = {}

for name, group in makes:
    #print(name +  ' has ' + str(group.size) + ' rows')
    groupsize += group.size
    groupnum += 1
    groupdict[name] = group.size#{name : group.size})

mean_grp_size = groupsize/groupnum
print('mean group size: ' + str(mean_grp_size))

from statistics import median 

med_grp_size = median([v for v in groupdict.values()])
print('median group size: ' +  str(med_grp_size))

mean group size: 5211.041095890411
median group size: 312

In [12]:
top_makers = []

for name, group in makes:
    if group.size > med_grp_size:
        top_makers.append(name)
        
print(top_makers)

['Alfa Romeo', 'BMW', 'Bentley', 'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Citroen', 'DeSoto', 'Delage', 'Dodge', 'Ford', 'GAZ', 'Jaguar', 'Lancia', 'Lincoln', 'MG', 'Mercedes-Benz', 'Mercury', 'Mitsubishi', 'Moskvich', 'Nissan', 'Oldsmobile', 'Opel', 'Packard', 'Pontiac', 'Porsche', 'Renault', 'Rover', 'Skoda', 'Tatra', 'Toyota', 'Vauxhall', 'Volkswagen']

In [13]:
#top_makers.remove(['MG', 'Mokvich', 'DeSoto', 'Delage', 'GAZ', 'Lancia', 'Opel', 'Packard', 'Renault', 'Skoda', 'Tatra', 'Vauxhall'])

ValueError: list.remove(x): x not in list

In [14]:
df_spec = df_spec.rename(columns={'Modle' : 'model'})
len(df_spec.model.unique())

201

In [ ]:
#for makes in top_makers:
    #df_spec.model
    
df_spec[(df_spec.Make == 'Dodge') & (df_spec.Year_from > 1960)]

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
df.condition.value_counts()

In [ ]:
df.drop(df[df.condition.isin(['new','salvage'])].index, inplace=True)

In [18]:
df.VIN[df.model.isin(['IMAPALA', 'impala', 'Impala'])]

342                     NaN
604       2G1WT55NX81257887
655       2G1WT58K989262310
750                     NaN
1460      2G1WT55KX89190263
                ...
425952    2G1WG5EK9B1153604
426030    2G1WC581469177332
426038                  NaN
426184                  NaN
426232    2G1WT58K789273953
Name: VIN, Length: 1682, dtype: object

In [24]:
print(df.description[df.VIN == '2G1WT55NX81257887'])
#print(x)

604    2008 *Chevrolet* *Impala* 4dr Sedan 3.5L LTCal...
Name: description, dtype: object