In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/vehicles.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

C:\Users\mitch\AppData\Local\Temp\ipykernel_2248\2501215559.py:1: DtypeWarning: Columns (9,11,12,13,14,15,16,17,19,20,24,27,29,33,43,44,47,49,51,69,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df_spec = pd.read_csv('data/CarSpecs_1945_2020.csv')

,id_trim,Make,Modle,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,1,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.6 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.9 AT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 AT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 MT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['id_trim', 'Make', 'Modle', 'Generation', 'Year_from', 'Year_to',
       'Series', 'Trim', 'Body_type', 'load_height_mm', 'number_of_seats',
       'length_mm', 'width_mm', 'height_mm', 'wheelbase_mm', 'front_track_mm',
       'rear_track_mm', 'curb_weight_kg', 'wheel_size_r14',
       'ground_clearance_mm', 'trailer_load_with_brakes_kg', 'payload_kg',
       'back_track_width_mm', 'front_track_width_mm', 'clearance_mm',
       'full_weight_kg', 'front_rear_axle_load_kg', 'max_trunk_capacity_l',
       'cargo_compartment_length_width_height_mm', 'cargo_volume_m3',
       'minimum_trunk_capacity_l', 'maximum_torque_n_m', 'injection_type',
       'overhead_camshaft', 'cylinder_layout', 'number_of_cylinders',
       'compression_ratio', 'engine_type', 'valves_per_cylinder', 'boost_type',
       'cylinder_bore_mm', 'stroke_cycle_mm', 'engine_placement',
       'cylinder_bore_and_stroke_cycle_mm', 'turnover_of_maximum_torque_rpm',
       'max_power_kw', 'presence_of_intercooler', 'capacity_cm3', 'engine_hp',
       'engine_hp_rpm', 'drive_wheels', 'bore_stroke_ratio', 'number_of_gears',
       'turning_circle_m', 'transmission',
       'mixed_fuel_consumption_per_100_km_l', 'range_km', 'emission_standards',
       'fuel_tank_capacity_l', 'acceleration_0_100_km/h_s',
       'max_speed_km_per_h', 'city_fuel_per_100km_l', 'CO2_emissions_g/km',
       'fuel_grade', 'highway_fuel_per_100km_l', 'back_suspension',
       'rear_brakes', 'front_brakes', 'front_suspension', 'steering_type',
       'car_class', 'country_of_origin', 'number_of_doors',
       'safety_assessment', 'rating_name', 'battery_capacity_KW_per_h',
       'electric_range_km', 'charging_time_h'],
      dtype='object')

In [20]:
car_class = df_spec['car_class'].notna().sum()
not_car_class =df_spec['car_class'].isnull().sum()

print('Null Car Class Value Count: ' + str(not_car_class))
print('Car Class Value Count: ' + str(car_class))

Null Car Class Value Count: 59058
Car Class Value Count: 11765

In [22]:
df_spec['Body_type'].value_counts()

Body_type
Sedan                12436
Hatchback             9147
Wagon                 6736
Crossover             5952
Minivan               4828
Coupe                 4668
Pickup                3260
Cabriolet             2250
Liftback              1265
hardtop                838
Roadster               529
Targa                  258
Fastback                73
Limousine                6
Hatchback 3 doors        6
Name: count, dtype: int64

In [24]:
car_class = df_spec['Body_type'].notna().sum()
not_car_class =df_spec['Body_type'].isnull().sum()

print('Null Body_type Value Count: ' + str(not_car_class))
print('Body_type Value Count: ' + str(car_class))

Null Body_type Value Count: 18571
Body_type Value Count: 52252

In [5]:
df.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [6]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [7]:
df.condition.value_counts()

condition
good         121456
excellent    101467
like new      21178
fair           6769
new            1305
salvage         601
Name: count, dtype: int64

In [8]:
df.drop(df[df.condition.isin(['new','salvage'])].index, inplace=True)

TypeError: '<=' not supported between instances of 'float' and 'str'