This exercise will require you to pull some data from https://data.nasdaq.com/ (formerly Quandl API).

As a first step, you will need to register a free account on the https://data.nasdaq.com/ website.

After you register, you will be provided with a unique API key, that you should store:

*Note*: Use a `.env` file and put your key in there and `python-dotenv` to access it in this notebook. 

The code below uses a key that was used when generating this project but has since been deleted. Never submit your keys to source control. There is a `.env-example` file in this repository to illusrtate what you need. Copy that to a file called `.env` and use your own api key in that `.env` file. Make sure you also have a `.gitignore` file with a line for `.env` added to it. 

The standard Python gitignore is [here](https://github.com/github/gitignore/blob/master/Python.gitignore) you can just copy that.

In [1]:
# get api key from your .env file
import os
from dotenv import load_dotenv
import requests
import pandas as pd
import json

Nasdaq Data has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Nasdaq Data API instructions here: https://docs.data.nasdaq.com/docs/in-depth-usage

While there is a dedicated Python package for connecting to the Nasdaq API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
load_dotenv()
API_KEY = os.getenv('NASDAQ_API_KEY')
print(API_KEY)
api_string = '&api_key=' + API_KEY

BfxQkwgJj7g7RUuVbRZ-

Note: API's can change a bit with each version, for this exercise it is reccomended to use the nasdaq api at `https://data.nasdaq.com/api/v3/`. This is the same api as what used to be quandl so `https://www.quandl.com/api/v3/` should work too.

Hint: We are looking for the `AFX_X` data on the `datasets/FSE/` dataset.

In [6]:
def gen_dt(d1,d2):
    return '&start_date=' + d1 + '&end_date=' + d2

url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?' + gen_dt('2017-01-01','2017-01-01') + api_string

print(url)
response = requests.get(url)
print(response)

https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-01-01&api_key=BfxQkwgJj7g7RUuVbRZ-
<Response [200]>

In [7]:
print(type(json.loads(response.text)))
print(json.loads(response.text))

<class 'dict'>
{'dataset': {'id': 10095370, 'dataset_code': 'AFX_X', 'database_code': 'FSE', 'name': 'Carl Zeiss Meditec (AFX_X)', 'description': 'Stock Prices for Carl Zeiss Meditec (2020-11-02) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704', 'refreshed_at': '2020-12-01T14:48:09.907Z', 'newest_available_date': '2020-12-01', 'oldest_available_date': '2000-06-07', 'column_names': ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover'], 'frequency': 'daily', 'type': 'Time Series', 'premium': False, 'limit': None, 'transform': None, 'column_index': None, 'start_date': '2017-01-01', 'end_date': '2017-01-01', 'data': [], 'collapse': None, 'order': None, 'database_id': 6129}}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [8]:
def use_quandl(start, end):
    
    begin = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?'
    url = begin + (gen_dt(start,end)) + api_string

    dic = json.loads(requests.get(url).text)['dataset']
    df = pd.DataFrame(dic['data'])
    df.columns = dic['column_names']
    return df

df = use_quandl('2017-01-01', '2017-12-31')
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [9]:
hi = df['Open'].max()
lo = df['Open'].min()
print('Highest Opening: $' + str(hi))
print('Lowest Opening: $' + str(lo))

Highest Opening: $53.11
Lowest Opening: $34.0

In [10]:
df.drop(columns=['Change'])
df['Change'] = df['High'] - df['Low']
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,0.49,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,0.39,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,1.13,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,0.58,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,0.62,120649.0,6179433.0,None,None,None

In [13]:
print('Largest Change in One Day: ' + str(round(df['Change'].max(),2)) )
df.iloc[df['Change'].idxmax()]

Largest Change in One Day: 2.81

Date                     2017-05-11
Open                           43.4
High                          46.06
Low                           43.25
Close                          45.0
Change                         2.81
Traded Volume              189125.0
Turnover                  8496322.0
Last Price of the Day          None
Daily Traded Units             None
Daily Turnover                 None
Name: 161, dtype: object

In [14]:
df['two_day_close_diff'] = df.Close - df.Close.shift(2)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,two_day_close_diff
0,2017-12-29,51.76,51.94,51.45,51.76,0.49,34640.0,1792304.0,None,None,None,NaN
1,2017-12-28,51.65,51.82,51.43,51.60,0.39,40660.0,2099024.0,None,None,None,NaN
2,2017-12-27,51.45,51.89,50.76,51.82,1.13,57452.0,2957018.0,None,None,None,0.06
3,2017-12-22,51.05,51.50,50.92,51.32,0.58,71165.0,3641949.0,None,None,None,-0.28
4,2017-12-21,51.16,51.52,50.90,51.40,0.62,120649.0,6179433.0,None,None,None,-0.42

In [17]:
print('Largest Two Day Change Based on Closing Price: ' + str(round(df['two_day_close_diff'].abs().max(),2)))
print('Occured on ' + df.loc[df['two_day_close_diff'].abs().idxmax()]['Date'])
df.loc[df['two_day_close_diff'].abs().idxmax()]

Largest Two Day Change Based on Closing Price: 3.15
Occured on 2017-08-07

Date                     2017-08-07
Open                          45.85
High                          46.34
Low                           44.02
Close                         44.96
Change                         2.32
Traded Volume              164543.0
Turnover                  7378816.0
Last Price of the Day          None
Daily Traded Units             None
Daily Turnover                 None
two_day_close_diff             3.15
Name: 100, dtype: object

In [18]:
mean = df['Traded Volume'].mean()
print('Mean Trade Volume: ' + str(mean))

Mean Trade Volume: 89124.33725490196

In [19]:
med = df['Traded Volume'].median()
print('Median Trade Volume: ' + str(med))

Median Trade Volume: 76286.0